@model LinhcosMVC.Models.SanPham

@{
    ViewBag.Title = "SuaSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SuaSP</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SanPham</legend>

        @*@Html.HiddenFor(model => model.MaSP)*@
        <div class="editor-label">
            @*@Html.LabelFor(model => model.MaSP)*@
            Mã sản phẩm
        </div>
        <div class="editor-field">
            <div>@Model.MaSP</div>
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.TenSP)*@
            Tên sản phẩm
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenSP)
            @Html.ValidationMessageFor(model => model.TenSP)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Hinh)*@
            Hình
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hinh)
            @Html.ValidationMessageFor(model => model.Hinh)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.MaLoaiSP)*@
            Tên Loại
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.MaLoaiSP)
                @Html.ValidationMessageFor(model => model.MaLoaiSP)*@
            <div>
                @Html.DropDownList("MaLoaiSP")
            </div>
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Thuonghieu)*@
            Thương hiệu
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thuonghieu)
            @Html.ValidationMessageFor(model => model.Thuonghieu)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Mota)*@
            Mô tả
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mota)
            @Html.ValidationMessageFor(model => model.Mota)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.SoLuongCon)*@
            Số lượng còn
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongCon)
            @Html.ValidationMessageFor(model => model.SoLuongCon)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Gia)*@
            Giá
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>

        <p>
            <input class="btn btn-outline-dark" type="submit" value="Lưu" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "SanPham")
</div>
