@model LinhcosMVC.Models.SanPham

@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XoaSP</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaLoaiSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaLoaiSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Thuonghieu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thuonghieu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mota)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mota)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gia)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Quay về", "SanPham")
    </p>
}
